<span class="grid-item card" style="position: absolute; left: 0%; top: 0px;">
    <img class="lazy entered lazy-loaded" data-id="<%= id %>" src="<%= pic %>" width="800" height="600" data-src="<%= pic %>" alt="Gallery Thumb 1" data-ll-status="loaded">
</span>