<!-- Stylesheet
============================================= -->
<link href="./assets/card/card.css" rel="stylesheet" type="text/css" />

<% for( let index = 0; index < 5; index++ ) { %>
    <div class="card"></div>
<% } %>
<style class="hover"></style>

<!-- JavaScript
============================================= -->
<script src="./assets/card/card.js" defer></script>