<h1><%= selectTeam %></h1>

<div class="fancy-title title-center title-border">
  <h3>Choose your Team</h3>
</div>

<div
  id="oc-images"
  class="owl-carousel image-carousel carousel-widget owl-loaded owl-drag with-carousel-dots"
  data-items-xs="2"
  data-items-sm="3"
  data-items-lg="4"
  data-items-xl="5"
>
  <div class="owl-stage-outer">
    <div
      class="owl-stage"
      style="
        transform: translate3d(0px, 0px, 0px);
        transition: all 0s ease 0s;
        width: 1243px;
      "
    >
      <div class="owl-item active" style="width: 157.5px; margin-right: 20px">
        <div class="oc-item">
          <a href="#"><img src="card.ejs" alt="Image 1" /></a>
        </div>
      </div>
      <div class="owl-item active" style="width: 157.5px; margin-right: 20px">
        <div class="oc-item">
          <a href="#"><img src="images/portfolio/4/6-1.jpg" alt="Image 2" /></a>
        </div>
      </div>
      <div class="owl-item active" style="width: 157.5px; margin-right: 20px">
        <div class="oc-item">
          <a href="#"><img src="images/portfolio/4/6-2.jpg" alt="Image 3" /></a>
        </div>
      </div>
      <div class="owl-item active" style="width: 157.5px; margin-right: 20px">
        <div class="oc-item">
          <a href="#"><img src="images/portfolio/4/6-3.jpg" alt="Image 4" /></a>
        </div>
      </div>
      <div class="owl-item" style="width: 157.5px; margin-right: 20px">
        <div class="oc-item">
          <a href="#"><img src="images/portfolio/4/9-1.jpg" alt="Image 5" /></a>
        </div>
      </div>
      <div class="owl-item" style="width: 157.5px; margin-right: 20px">
        <div class="oc-item">
          <a href="#"><img src="images/portfolio/4/9-2.jpg" alt="Image 6" /></a>
        </div>
      </div>
      <div class="owl-item" style="width: 157.5px; margin-right: 20px">
        <div class="oc-item">
          <a href="#"
            ><img src="images/portfolio/4/12-1.jpg" alt="Image 7"
          /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="owl-nav">
    <button type="button" role="presentation" class="owl-prev disabled">
      <i class="icon-angle-left"></i></button
    ><button type="button" role="presentation" class="owl-next">
      <i class="icon-angle-right"></i>
    </button>
  </div>
  <div class="owl-dots">
    <button role="button" class="owl-dot active"><span></span></button
    ><button role="button" class="owl-dot"><span></span></button>
  </div>
</div>
