<!-- Stylesheet
============================================= -->
<link href="../../public/assets/card/card.css" rel="stylesheet" type="text/css" />

<% for( let index = 0; index < 1; index++ ) { %>
    <div class="card"></div>
<% } %>
<style class="hover"></style>

<!-- JavaScript
============================================= -->
<script src="../../public/assets/card/card.js" defer></script>