<h1>Profile Page</h1>
<a href="/logout">Logout</a>

<!-- TODO table that displays user's highest score per game  -->

<div class="tab-container">
  <div
    class="tab-content clearfix ui-tabs-panel ui-corner-bottom ui-widget-content"
    id="tab-feeds"
    aria-labelledby="ui-id-1"
    role="tabpanel"
    aria-hidden="false"
  >
    <p>Here is your score history</p>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Game</th>
          <th>High Score</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pokemon</td>
          <td></td>
        </tr>
        <tr>
          <td>Quiz</td>
          <td></td>
        </tr>
        <tr>
          <td>Comming Soon</td>
          <td></td>
        </tr>
        <tr>
          <td>Comming Soon</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
