<div id="team-container">
  <%- include('./card'); %>
  <div>
    <a href="#" class="button button-3d button-rounded gradient-multiples"
      ><i class="icon-play-circle"></i>Battle</a
    >
  </div>
</div>
