<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <!-- Head
  ============================================= -->
  <head>
    <%- include('./partials/head', { title: 'Arcade' }); %>
  </head>
  <body style="background-color: black">
    <!-- Header
    ============================================= -->
    <header><%- include('./partials/A-header'); %></header>

    <!-- Content
    ============================================= -->
    <main>
      <h1>Game Select</h1>
      <a href="/pokemon"><button>Pokemon</button></a>
      <a href="/#"><button disabled>Quiz</button></a>
    </main>
  </body>
</html>
