<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <!-- Head
  ============================================= -->
  <head>
    <%- include('./partials/head', { title: 'Arcade' }); %>
  </head>
  <body style="background-color: black">
    <!-- Header
    ============================================= -->
    <header><%- include('./partials/A-header'); %></header>

    <!-- Content
    ============================================= -->
    <main>
      <h1>Welcome to JS Arcade</h1>
      <h2>Please login and enjoy!</h2>
      <div>
        <img
          src="https://www.wallpapertip.com/wmimgs/94-940821_hd-arcade-background-pixelstalknet-src-arcade-wallpaper.jpg"
          alt="retro arcade sprite"
        />
      </div>
    </main>
  </body>
</html>
