<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- META -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TITLE -->
    <title>Arcade</title>

    <!-- CSS Start -->
    <link href="../public/assets/style.css" rel="stylesheet" type="text/css">
    <link href="../public/assets/card/card.css" rel="stylesheet" type="text/css" 
    /><!-- #css end -->

  </head>
  <body>

    <!-- HEADER -->
    <header>
      <%- include('./partials/header'); %>
    </header>

    <!-- CONTENT -->
    <%- include('./partials/card'); %>

    <!-- Script Start -->
    <script src="../public/assets/script.js" defer></script>
    <script src="../public/assets/card/card.js" defer>
    </script><!-- #script end -->

  </body>
</html>