<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- META -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TITLE -->
    <title>Arcade</title>

    <!-- CSS Start -->
    <link rel="stylesheet" href="../public/assets/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../public/assets/css/dark.css" type="text/css">
    <link rel="stylesheet" href="../public/assets/css/font-icons.css" type="text/css">
    <link rel="stylesheet" href="../public/assets/css/animate.css" type="text/css">
    <link rel="stylesheet" href="../public/assets/css/magnific-popup.css" type="text/css">

    <link href="../public/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="../public/assets/card/card.css" rel="stylesheet" type="text/css"
    /><!-- #css end -->

  </head>
  <body>
    
    <!-- Header
    ============================================= -->
    <header>
      <%- include('./partials/header'); %>
    </header>

    <%- include('./partials/card'); %>

    <!-- Script Start -->
    <script src="../public/assets/card/card.js" defer></script>
    <script src="../public/assets/scripts/script.js" defer></script>
    <script src="../public/assets/scripts/jquery.js"></script>
    <script src="../public/assets/scripts/plugins.min.js"></script>
    <script src="../public/assets/scripts/functions.js">
    </script><!-- #script end -->

  </body>
</html>