<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <!-- Head
  ============================================= -->
  <head><%- include('./partials/head',  { title: 'Login' }); %></head>
  <body>
    <!-- Header
    ============================================= -->
    <header><%- include('./partials/header'); %></header>

    <!-- Content
    ============================================= -->
    <main>
        <%- include('./partials/login'); %>
    </main>

  </body>
</html>