<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon Battle</title>
    <!-- CSS Bootstrap only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <style>
      main {
        display: center;
        background-color: black;
      }
    </style>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- CONTENT -->
    <main>
      <!-- Title page to select from games in Arcade and send user to game title page -->
      <%- include('partials/Logo'); %>
      <h1>Battles</h1>
    </main>
    <h2 class="sub title">Select you Pokemon</h2>

    <!-- SCRIPT -->
    <script src="./public/script.js"></script>
  </body>
</html>
