<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <!-- Head
  ============================================= -->
  <head>
    <%- include('./partials/head', { title: 'Pokemon' }); %>
  </head>
  <body>

    <!-- Header
    ============================================= -->
    <header>
      <%- include('./partials/P-header'); %>
    </header>

    <!-- Content
    ============================================= -->
    <main>
      <%- include('./partials/card-car'); %>
    </main>
  </body>
</html>
