<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <!-- Head
  ============================================= -->
  <head>
    <%- include('./partials/head', { title: 'Sign Up' }); %>
  </head>
  <body>
    <!-- Header
    ============================================= -->
    <header><%- include('./partials/A-header'); %></header>

    <!-- Content
    ============================================= -->
    <main><%- include('./partials/signup'); %></main>
  </body>
</html>
